<div class="container-fluid"  id="headerRegistrAndAdmin">
    <div class="headerImages">
        <img src="/Rotating-Globe-from-Wikipedia.gif" alt="">
        <button id="headerIndexTokken"><a href="/"> Главная страница</a></button>
        
    </div>
</div>